<!-- this is looped with i index in favorites -->
<!-- class i for each row so we can access in dom -->
<div class='row'>
    <div class='box'>
        <% if(className == 'user'){%>
            <button class='delete <%= className + i %>'><i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        <% } else { %>
            <button class='add <%= className + i %>'><i class="fa fa-plus" aria-hidden="true"></i></button>
        <% } %>
        <button class='play <%= className + i %>'><i class="fa fa-play" aria-hidden="true"></i>
        </button>
    </div>
    <div class='box <%= className + i %>'><img class='art_small' src="<%= arr[i].album_image %>"></div>
    <div class='box <%= className + i %>'><%= arr[i].song_name %></div>
    <div class='box <%= className + i %>'><%= arr[i].artist_name %></div>
    <div class='box <%= className + i %>'><%= arr[i].genre %></div>
    <div class='<%= className + i %>' style="display: none"><%= arr[i].uri %></div>
</div>

<!-- 
  do i need to have each of the buttons be a form with hidden form items on each 
  name artist genre and the different methods?
 -->